*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: palevioletred;
    height: 100vw;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    gap: 20px;
}
.main input{
    width: 22%;
    height: 80px;
    font-size: 2rem;
    text-align: center;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
}